.features-description{
font-size: 47px;
}
.video--description{
    display: flex;
}
.features-list{
    list-style: none;
}
.feature-text{
    font-size: 15px;
    position: relative;
    text-align: center;
}
.feature-text::before{
    display: block;
        position: absolute;
        top: 7px;
        left: -20px;
        width: 20px;
        height: 20px;
        content: "";
        background-image: url("../img/сердце.png");
        background-repeat: no-repeat;
}