  .page-header-inner_page{
      min-height: 650px;
      width: 100%;
      background-color: $color;
      padding: 0 15px;
  }
  .header-container-inner_page{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    @include flex;
    align-items: center;
  }

.price_catalog{
    padding-left: 50px;
    padding-bottom: 20px;
}
.footer-social{
    @include flex;
    align-items: center;
}
.media{
    @include flex;
    list-style: none;
    min-width: 180px;
    padding: 0;
}

.documents{
    max-width: 372px;
    font-size: 12px;
}