$color: #FAF5F2;
$heading-color: #156963;
$cards-bg: #F3F4F6;
$text-color: #2C1500;
$mobile-width: 480px;
$tablet-width-min: 746px;
$tablet-width: 999px;
$desktop-width: 1290px;
/*fonts*/
$main-font: 'Montserrat', sans-serif;
$font-footer: 'Work Sans', sans-serif;
$font-secondary:'Roboto', sans-serif;

 