.logo {
    height: 85px;
}
.page-header {
    display: flex;
    flex-direction: column;
}
.main-nav {
    width: 320px;
    margin: 0 auto;
}
.site-list {
    margin: 0;
    padding: 0;
    list-style: none;
}