$color: #D0F0C0;
body {
    min-width: 320px;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 27px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: $color;
}

@media (min-width: $tablet-width) {
.logo {
    order: 2;
    height: 400px;
}
}
@media (min-width: $desktop-width) {
.logo {
    height: 648px;
}
}
